.text {

    &_font-size {
        &_s {
            font-size: @font-size-mobile-s;
        }
        &_m {
            font-size: @font-size-mobile-m;
        }
        &_l {
            font-size: @font-size-mobile-l;
        }
    }

    &_line-height {
        &_m {
            line-height: @line-height-mobile-m;
        }
        &_l {
            line-height: @line-height-mobile-l;
        }
    }
}