.logo {

    &__link {
        @font-size: 2rem;
        @font-size-mobile: 0.65 * @font-size;
        @line-height: 1.5rem;
        @line-height-mobile: 0.75 * @line-height;

        font-size: @font-size-mobile;
        line-height: @line-height-mobile;
        text-decoration: none;
        color: white;
    }
}